################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/LiveSplit.MasterSpy.csproj.user
/Components/LiveSplit.MasterSpy.exe
